.section {
    background-color: lemonchiffon;
}

.headers {
    color: darkblue;
}

#email {
    background-color:  lightgrey;
}

#github {
    background-color: lightblue;
}

#portfolio {
    background-color: lightcyan;
}
